---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=WEATHER_API_KEY&q=Kabul,AF&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":69.4167,"lat":34.5},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":62.6,"feels_like":60.15,"temp_min":62.6,"temp_max":62.6,"pressure":1016,"humidity":34},"visibility":10000,"wind":{"speed":4.61,"deg":0},"clouds":{"all":0},"dt":1621051391,"sys":{"type":1,"id":7381,"country":"AF","sunrise":1621038002,"sunset":1621088250},"timezone":16200,"id":1138957,"name":"Kabul","cod":200}'
  recorded_at: Sat, 15 May 2021 04:03:11 GMT
recorded_with: VCR 6.0.0
