---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=877f43c6da7c814253de433811a20b9d&q=Kabul,AF&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":69.4167,"lat":34.5},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":59,"feels_like":56.07,"temp_min":59,"temp_max":59,"pressure":1014,"humidity":31},"visibility":10000,"wind":{"speed":2.3,"deg":0},"clouds":{"all":0},"dt":1621026706,"sys":{"type":1,"id":7381,"country":"AF","sunrise":1621038002,"sunset":1621088250},"timezone":16200,"id":1138957,"name":"Kabul","cod":200}'
  recorded_at: Fri, 14 May 2021 21:11:46 GMT
recorded_with: VCR 6.0.0
