---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=WEATHER_API_KEY&q=Kabul,AF&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":69.4167,"lat":34.5},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":61.74,"feels_like":60.06,"temp_min":61.74,"temp_max":61.74,"pressure":1011,"humidity":52,"sea_level":1011,"grnd_level":811},"visibility":10000,"wind":{"speed":1.14,"deg":73,"gust":1.66},"clouds":{"all":0},"dt":1632613191,"sys":{"country":"AF","sunrise":1632618784,"sunset":1632662058},"timezone":16200,"id":1138957,"name":"Kabul","cod":200}'
  recorded_at: Sat, 25 Sep 2021 23:40:22 GMT
recorded_with: VCR 6.0.0
