---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=WEATHER_API_KEY&q=Oslo,NO&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":10.7461,"lat":59.9127},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":50.16,"feels_like":48.97,"temp_min":48.99,"temp_max":52,"pressure":981,"humidity":87},"visibility":10000,"wind":{"speed":4.14,"deg":25,"gust":15.46},"clouds":{"all":44},"dt":1621051393,"sys":{"type":3,"id":2009047,"country":"NO","sunrise":1621046380,"sunset":1621108034},"timezone":7200,"id":3143244,"name":"Oslo","cod":200}'
  recorded_at: Sat, 15 May 2021 04:03:13 GMT
recorded_with: VCR 6.0.0
