---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=WEATHER_API_KEY&q=Oslo,NO&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":10.7461,"lat":59.9127},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"base":"stations","main":{"temp":46.18,"feels_like":46.18,"temp_min":44.94,"temp_max":48.42,"pressure":1016,"humidity":1,"sea_level":1016,"grnd_level":1012},"visibility":10000,"wind":{"speed":1.63,"deg":176,"gust":1.83},"clouds":{"all":25},"dt":1632613150,"sys":{"type":2,"id":2007693,"country":"NO","sunrise":1632633043,"sunset":1632675954},"timezone":7200,"id":3143244,"name":"Oslo","cod":200}'
  recorded_at: Sat, 25 Sep 2021 23:40:25 GMT
recorded_with: VCR 6.0.0
