---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=WEATHER_API_KEY&q=Kabul,AF&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":69.4167,"lat":34.5},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":62.6,"feels_like":60.53,"temp_min":62.6,"temp_max":62.6,"pressure":1020,"humidity":42},"visibility":10000,"wind":{"speed":13.8,"deg":350},"clouds":{"all":0},"dt":1621268577,"sys":{"type":1,"id":7381,"country":"AF","sunrise":1621210717,"sunset":1621261143},"timezone":16200,"id":1138957,"name":"Kabul","cod":200}'
  recorded_at: Mon, 17 May 2021 16:26:05 GMT
[...]
- request:
    method: get
    uri: https://pixabay.com/api/?category=travel&image_type=photo&key=IMAGE_API_KEY&order=popular&orientation=horizontal&q=Afghanistan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.14418038261943267'
      Allow:
      - POST, GET, OPTIONS
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":7,"totalHits":7,"hits":[{"id":1030358,"pageURL":"https://pixabay.com/photos/map-afghanistan-atlas-middle-east-1030358/","type":"photo","tags":"map,
        afghanistan, atlas","previewURL":"https://cdn.pixabay.com/photo/2015/11/07/01/45/map-1030358_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"https://pixabay.com/get/g2ff5db506d4a900ce4a29c967dc4eb8e475ca0ce4c3b20c5d90fc5c9a6fdcbd8f1f63ffc73dae3b8b82bc0d8f315108988026695dc055ae54cd61ee9d64f605d_640.jpg","webformatWidth":640,"webformatHeight":425,"largeImageURL":"https://pixabay.com/get/ga7e20b0895056565b67d209f39839500708f9a98a7a1a80a47b17981f507db5933438251d4d1df3859e9f3310a2eb41d80b76f2b78f5ed2aead6f8d6ef8a6d5d_1280.jpg","imageWidth":6016,"imageHeight":4000,"imageSize":3840825,"views":9185,"downloads":4432,"favorites":21,"likes":22,"comments":7,"user_id":427626,"user":"ErikaWittlieb","userImageURL":"https://cdn.pixabay.com/user/2017/03/15/03-09-43-465_250x250.jpg"},{"id":86569,"pageURL":"https://pixabay.com/photos/afghanistan-landscape-sun-sunset-86569/","type":"photo","tags":"afghanistan,
        landscape, sun","previewURL":"https://cdn.pixabay.com/photo/2013/02/27/13/54/afghanistan-86569_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"https://pixabay.com/get/g75441d537469c26037d6ca469585d4cf546d713ae08ea7bfe32ea3d83f190b5f97650293a0f5472b181d898db6b8a2fb_640.jpg","webform[...]
