---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=WEATHER_API_KEY&q=Kabul,AF&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":69.4167,"lat":34.5},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"base":"stations","main":{"temp":59,"feels_like":57.56,"temp_min":59,"temp_max":59,"pressure":1020,"humidity":63},"visibility":10000,"wind":{"speed":3.44,"deg":340},"clouds":{"all":75},"dt":1621175401,"sys":{"type":1,"id":7381,"country":"AF","sunrise":1621124359,"sunset":1621174697},"timezone":16200,"id":1138957,"name":"Kabul","cod":200}'
  recorded_at: Sun, 16 May 2021 14:30:35 GMT
[...]
- request:
    method: get
    uri: https://pixabay.com/api/?category=travel&image_type=photo&key=IMAGE_API_KEY&order=popular&orientation=horizontal&q=Afghanistan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.3147262379929826'
      Allow:
      - POST, OPTIONS, GET
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":7,"totalHits":7,"hits":[{"id":1030358,"pageURL":"https://pixabay.com/photos/map-afghanistan-atlas-middle-east-1030358/","type":"photo","tags":"map,
        afghanistan, atlas","previewURL":"https://cdn.pixabay.com/photo/2015/11/07/01/45/map-1030358_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"https://pixabay.com/get/gd5156430089fdb84d7fe10c929460aa6da8051d9544f64e902779ee5405f9ba6bb4e3dab12b54ad95c085e7ea709b2cde68db2b945866192a94de2595207da50_640.jpg","webformatWidth":640,"webformatHeight":425,"largeImageURL":"https://pixabay.com/get/g029cb277e3330c2e5bc44baf330e5ab3c0ad6b4f1bcbab02e035f7a98444bba9af7125b0bea4834e60e3a4d05061f73d9d0e1980acaa6f1caa35cd3902d382af_1280.jpg","imageWidth":6016,"imageHeight":4000,"imageSize":3840825,"views":9185,"downloads":4432,"favorites":21,"likes":22,"comments":7,"user_id":427626,"user":"ErikaWittlieb","userImageURL":"https://cdn.pixabay.com/user/2017/03/15/03-09-43-465_250x250.jpg"},{"id":86569,"pageURL":"https://pixabay.com/photos/afghanistan-landscape-sun-sunset-86569/","type":"photo","tags":"afghanistan,
        landscape, sun","previewURL":"https://cdn.pixabay.com/photo/2013/02/27/13/54/afghanistan-86569_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"https://pixabay.com/get/gaee9eb1eecc9392c7a5a3a6af70ca4e56e89bd6823e243eb34d81778322b381351234c55de70eb3c7ce36cabca65e110_640.jpg","webform[...]
