<h1> Discover The Capital Cities Of The World </h1>
<div class='cardsContainer'>
  <div class='card'>
    <h2><%= @random_capital.first[:capital] %> </h2> 
    <strong>Capital of:</strong> <%= @random_capital.first[:country] %> 
  </div>

  <%= button_to 'Click To Discover', root_path, method: :get  %>
</div>
