<h1>Discover The Capital Cities Of The World</h1>

<%= button_to 'Shuffle', root_path, method: :get, class: 'btn btn-primary' %>

<div class='cards'>
    <% @cards.each do |card| %>
      <div class='card'>
        <h3><%= card.name %></h3>
        <p>Capital Of</p>
        <h4><%= card.country %></h4>
      </div>
    <% end %>
</div>

